{:kotoba.app/id "cloud.itonami.hygiene-access", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibeuhfcxfiu4jmbyqxwpt2v5slknoowrhixdvux6sqwebbbnx3cae", :kotoba.app/embed-url "ipfs://bafkreibeuhfcxfiu4jmbyqxwpt2v5slknoowrhixdvux6sqwebbbnx3cae", :published {:archive "https://kotobase.net/ipfs/bafkreibeuhfcxfiu4jmbyqxwpt2v5slknoowrhixdvux6sqwebbbnx3cae", :size 73128, :put-status 201, :get-status 200, :at "2026-08-15T14:05:38.555Z"}}
